body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#footer {
    height: 30px;
    text-align: right;
    clear: both;
    padding: 5px;
    background-color: #317082;
    color: #fff;
}

#dhtmlgoodies_dragDropContainer {
    width: 800px;
    height: 720px;
    margin: 20px auto;
    border: 1px solid #317082;
    background-color: #fff;
}

#dhtmlgoodies_dragDropContainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#dhtmlgoodies_dragDropContainer li, #dragContent li, li#indicateDestination {
    list-style-type: none;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
}

li#indicateDestination {
    border: 1px dashed #666;
}

#dhtmlgoodies_dragDropContainer ul li.correctAnswer {
    background-color: #2ecc71;
    color: #fff;
}

#dhtmlgoodies_dragDropContainer ul li.wrongAnswer {
    background-color: #e74c3c;
    color: #fff;
}

div#dhtmlgoodies_listOfItems {
    float: left;
    width: 160px;
    padding: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
}

#dhtmlgoodies_listOfItems ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dhtmlgoodies_listOfItems div {
    border: 1px solid #999;
    margin: 0 0 10px;
    padding: 5px;
    background-color: #fff;
}

#dhtmlgoodies_listOfItems div ul {
    margin-left: 10px;
}

#dhtmlgoodies_listOfItems div p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    background-color: #317082;
    color: #fff;
    margin-bottom: 5px;
}

#dhtmlgoodies_mainContainer {
    width: 590px;
    float: left;
    padding: 10px;
    background-color: #f5f5f5;
}

#dhtmlgoodies_mainContainer div {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    width: 170px;
}

#dhtmlgoodies_mainContainer div ul {
    margin-left: 10px;
}

#dhtmlgoodies_mainContainer div p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    background-color: #317082;
    color: #fff;
    margin-bottom: 5px;
}

#dhtmlgoodies_mainContainer ul {
    width: 152px;
    height: 80px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#dragContent {
    position: absolute;
    width: 150px;
    height: 15px;
    display: none;
    z-index: 2000;
}

#dragDropIndicator {
    position: absolute;
    width: 7px;
    height: 10px;
    display: none;
    z-index: 1000;
}
